th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}

body{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to bottom right,#aa5b43, #aa7b96) no-repeat ; */
    background: linear-gradient(60deg,#ec5122, #db067f) no-repeat ;
}